@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;1,300&family=Rubik&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  background-color: rgb(255, 255, 255);
  margin: 0;
  color: white;
  font-family: "Rubik", sans-serif;
  flex-direction: column;
  height: 100%;
}

.home__page {
  background-image: url(./photos/mountain-landscape-2031539_1280.jpg);
}
.home__page h1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 53px;
  color: #ffffff;
}
.home__page p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 21px;
  color: #ffffff;
}
.home__page .fake__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 60px;
  margin-left: 12px;
  width: 288px;
  height: 595px;
  background: #ffffff;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.home__page h2 {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 17px;
  color: #767e86;
  text-transform: uppercase;
}
.home__page h3 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  color: #172432;
}
.home__page .form--bottom-margin {
  border-bottom: rgb(16, 13, 13) 2px solid;
  width: 260px;
}
.home__page .fake__button__form {
  height: 128px;
  width: 288px;
  background-color: #ff7757;
  font-family: Playfair Display;
  border-radius: 16px;
  font-size: 4rem;
  text-align: center;
  line-height: 48px;
  font-weight: 400;
}

main {
  background-color: #172432;
}

ul li {
  list-style: none;
  padding: 0px;
}

.ul-menu,
.ul-info,
.ul-information,
.ul-follow {
  padding: 0;
}

.ul-follow {
  display: flex;
  margin: 0;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 150px;
}

main,
header,
h1,
p {
  margin: 0;
}

p {
  font-size: 10px;
}

header {
  margin-top: 70px;
  font-size: 20px;
}

img {
  margin: 0;
}

.img-li {
  margin: 0;
  margin: 0.5rem;
  display: flex;
}

.traveleres-experiences {
  align-items: center;
}

.avatar-box {
  background-color: grey;
}

.header-travelers h1 {
  color: #172432;
  border-bottom: solid 2px coral;
  width: 350px;
  font-size: 40;
  font-family: Playfair Display;
  font-size: 64px;
  font-weight: 400;
  line-height: 85px;
  letter-spacing: 0em;
  text-align: left;
}
.header-travelers p {
  color: #767e86;
  white-space: normal;
  font-size: 18px;
  margin-bottom: 50px;
  margin-right: 8px;
}
.header-travelers .buttons {
  display: flex;
  justify-content: flex-end;
}

.p-avatar {
  background-color: #f5f6f7;
  color: #767e86;
  white-space: normal;
  font-size: 18px;
  margin-right: 0px;
}

.feedback-travelers {
  color: #767e86;
  margin-left: 0;
}

.stars-div {
  background-color: #f5f6f7;
  color: #767e86;
  margin: 0;
  font-size: 50px;
}
.stars-div .john,
.stars-div .acc {
  font-size: 20px;
}

.buttons {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 20px;
  margin-bottom: 100px;
}

.form-newsletter {
  height: 500px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3019607843);
  margin: 0;
  margin-right: 10px;
  display: flex;
  border-radius: 10%;
}

.form-class {
  margin-top: 100px;
  color: #767e86;
}

.newsletter-class {
  color: #767e86;
  font-family: Playfair Display;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  width: 50px;
}

.color {
  background-color: #172432;
  margin: 0;
}

.form-newsletter,
div {
  padding: 10px;
}

#GET-name {
  margin: 0;
}

.newsletter-class {
  display: flex;
}

.email-plate {
  margin-bottom: 20px;
  width: 300px;
}

.btn-email {
  width: 300px;
}

h4 {
  color: #767e86;
}

.all-avatars {
  height: 400px;
  overflow: hidden;
  margin: 0;
}

@media (min-width: 1280px) {
  .traveleres-experiences {
    display: flex;
    flex-direction: column;
  }
  .header-travelers h1 {
    width: 700px;
    margin-bottom: 20px;
    margin-top: 100px;
  }
  .email-plate {
    margin: 0;
  }
  .buttons {
    margin-left: 1650px;
  }
  .form-newsletter {
    margin-left: 150px;
    margin-right: 150px;
  }
  .newsletter-box {
    display: flex;
    width: 1676px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .email-plate {
    width: 300px;
  }
  .emails-class {
    margin-left: 0px;
  }
  h4 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .newsletter-class {
    width: 718px;
    font-size: 90px;
    margin-left: 0;
    margin-right: 50px;
  }
  .content-avatar {
    padding: 0;
    width: 600px;
    margin-right: 100px;
  }
  .stars-box,
  .p-avatar {
    padding: 20px;
  }
  .p-avatar {
    padding-bottom: 0;
    margin: 0;
    width: 600px;
  }
  .all-avatars {
    display: flex;
  }
}
@media (min-width: 1280px) {
  main,
  html {
    display: flex;
    justify-content: space-between;
  }
  .footer-page {
    display: flex;
    flex-direction: row;
  }
  main {
    padding: 190px;
  }
  li {
    margin: 20px;
  }
  header {
    margin: 0;
    margin-left: 20px;
  }
}
.third-page {
  margin: 0;
}

.header-plans {
  display: flex;
  flex-direction: column;
}
.header-plans h1 {
  color: #172432;
  border-bottom: solid 2px coral;
  width: 350px;
  font-size: 40;
  font-family: Playfair Display;
  font-size: 64px;
  font-weight: 400;
  line-height: 85px;
  letter-spacing: 0em;
  text-align: left;
}
.header-plans p {
  color: #767e86;
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 20px;
}

.places-photos {
  margin-top: 20px;
  color: #ffffff;
  display: flex;
  display: contents;
  align-items: center;
  margin-bottom: 50px;
}

.rome-title {
  font-size: 28px;
  font-family: Playfair Display;
  color: #172432;
}

.p-rome {
  color: #172432;
}

.rome-details,
h3 {
  color: #172432;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 0px;
}

.footer-page {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media (min-width: 1280px) {
  .footer-page,
  .main {
    display: flex;
    flex-direction: row;
  }
}
.margin {
  margin-left: 15px;
}

.title-planners {
  margin: 0;
}

#trip-h2,
.title-planners {
  color: #172432;
}

@media (min-width: 1280px) {
  .rome-title,
  span,
  h3,
  .star {
    width: 0;
    font-size: 0px;
    margin: 0px;
    padding: 0px;
    height: 0;
    overflow: hidden;
  }
  .third-page {
    height: 1000px;
    margin-bottom: 100px;
  }
  .header-plans {
    margin-bottom: 100px;
  }
  .display-photos {
    display: flex;
    margin-left: 170px;
  }
  .img-view {
    display: flex;
    margin-top: 50px;
    margin-left: 840px;
  }
  .rome-div {
    display: flex;
  }
  .travelers-experiences {
    margin-left: 100px;
  }
  .content-avatar {
    margin-left: 20px;
  }
  .buttons {
    gap: 10px;
  }
}
.title-blog {
  color: #172432;
  border-bottom: solid 2px coral;
  width: 340px;
  font-size: 40;
  font-family: Playfair Display;
  font-size: 64px;
  font-weight: 400;
  line-height: 85px;
  letter-spacing: 0em;
  text-align: left;
}

.fourth-page {
  display: flex;
  flex-direction: column;
}

.blog-paragraph {
  color: #767e86;
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 20px;
}

.italy-view {
  border-radius: 10%;
}

.read-more {
  color: #ff7757;
  font-size: 25px;
}

.review {
  color: #172432;
  width: 340px;
  font-size: 30;
  font-family: Playfair Display;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
}

@media (min-width: 1280px) {
  .fourth-display {
    display: flex;
  }
  .review {
    margin: 0;
  }
  .italy-view {
    width: 358px;
    height: 400px;
  }
}
.italy-view {
  width: 340px;
  height: 370px;
}

/*# sourceMappingURL=styles.css.map */
